<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wear</title>
    <link rel="stylesheet" href="css/wear_estilos.css">
    <link rel="stylesheet" href="css/estilos.css">


</head>

<body>
    <header>
        <div class="nav_loc">
            <ul>
                <img src="img/logo.png" id="logo" />
                <li>
                    <a   href="/" >Home</a>
                </li>
                <li>
                    <a class="active" href="">Hombres</a>
                </li>
                <li>
                    <a >Mujeres</a>
                </li>
                <li>
                    <a >interacción</a>
                </li>
                <li>
                    <a >Sobre nosotros</a>
                </li>
               <div class="dere">
                    <a href="/checkout" class="btn loud-link-hover" >
                     <span class="carrito">0</span>
                        <img src="img/carrito.png" id="car"/>
                        
                    </a>
                    <button type="button" class="buscar">
                        <img src="img/lupa.png" alt="" style="vertical-align: middle">
                    </button>
                    <input type="search" placeholder="Buscar" class="buscarNavegador">
                </div>
            </ul>
        </div>
    </header>



    <section class="cuerpo">

        <div class="slide" style='background-image: url("img/slider_2.jpg");'>


            <div class="coleccion" style='background-image: url("img/colecciones_2.png");'>


            </div>
        </div>


    <div class="misJuegos">
        <div class="infoMisJuegos">
            <div class="tituloMisJuegos">
                <h1>Mis productos</h1>
            </div>
            <div class="logoMisJuegos">
            </div>
        </div>
        <div class="carrito">
            <ul class="lista"></ul>
        </div>
    </div>

    <footer>
        <div class="flex-container">
            <div class="flex-item">
                <h1>INTENSE</h1>
                <p>Plataforma de venta de calzado femenino.</p>
                <br>
                <p>
                    <a href="#">
                        <b>Condiciones</b>
                    </a>
                </p>
                <p>
                    <a href="#">
                        <b>Soporte</b>
                    </a>
                </p>
                <p>
                    <a href="#">
                        <b>Privacidad</b>
                    </a>
                </p>
            </div>
            <div class="flex-item">
                <h1>SÍGUENOS</h1>
                <p>Mantente al tanto de las novedades.</p>
                <br>
            </div>
        </div>
    </footer>

     <script src="js/script.js"></script>
    <script src="js/cliente.js"></script>
    <script src="js/checkout.js"></script>
</body>

</html>